body {
  background-color: gray;
}

.Main {
  text-align: center;
}
.Secondary {
  background-color: gray;
  color: aquamarine;
  font-size: 20px;
}
ul {
  padding: 0px 20px;
  list-style-type: none;
}

li {
  color: white;
}
